/* From Uiverse.io by Praashoo7 */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
  }
  
  .form:hover {
    transform: scale(1.05);
    border: 1px solid black;
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button1:hover {
    background-color: black;
    color: white;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }
  /* From Uiverse.io by elijahgummer */ 
.switch {
    position: relative;
    width: 210px;
    height: 50px;
    box-sizing: border-box;
    padding: 3px;
    background: #0d0d0d;
    border-radius: 6px;
    box-shadow:
      inset 0 1px 1px 1px rgba(0, 0, 0, 0.5),
      0 1px 0 0 rgba(255, 255, 255, 0.1);
  }
  .switch input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .switch input[type="checkbox"] + label {
    position: relative;
    display: block;
    left: 0;
    width: 50%;
    height: 100%;
    background: #1b1c1c;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease-in-out;
  }
  .switch input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow:
      0 0 5px 2px rgba(165, 15, 15, 0.9),
      0 0 3px 1px rgba(165, 15, 15, 0.9);
    transition: all 0.5s ease-in-out;
  }
  .switch input[type="checkbox"] + label:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
  .switch input[type="checkbox"] + label i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 24px;
    margin-top: -12px;
    margin-left: -1.5px;
    border-radius: 2px;
    background: #0d0d0d;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
  }
  .switch input[type="checkbox"] + label i:before,
  .switch input[type="checkbox"] + label i:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: #0d0d0d;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
  }
  .switch input[type="checkbox"] + label i:before {
    left: -7px;
  }
  .switch input[type="checkbox"] + label i:after {
    left: 7px;
  }
  .switch input[type="checkbox"]:checked + label {
    left: 50%;
  }
  .switch input[type="checkbox"]:checked + label:before {
    box-shadow:
      0 0 5px 2px rgba(15, 165, 70, 0.9),
      0 0 3px 1px rgba(15, 165, 70, 0.9);
  }
  